*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #21252B;
}

.content{
  max-width: 600px;
  margin: auto;
}

.about-me{
  width: 600px;
  height: 400px;
  background-color: #333842;
  display: flex;
  flex-direction: column;
  margin-top:2rem;
  border-radius: 25px;
  background: #333842;
  padding: 20px;
}

.about-me{
  display: inline-flex;
  color: white;
  font-size: 18px;
  display: flex;
}

.about-me > *{
  margin-top:2rem;
  margin-left:2rem;
}

.introduction{
  display:flex;
  flex-direction: row;
}

.dynamic-txt{
  height:18px;
  overflow: hidden;
}

.dynamic-txt li{
  list-style: none;
  margin-left:5px;
  color: #FAB867 !important;
  top: 0;
  animation: slide 28s steps(4) infinite;
  position:relative;
}

@keyframes slide {
  100%{
    top: -84px;
  }
}
.dynamic-txt li span{
  position:relative;
}

.dynamic-txt li span::after{
  content: "";
  position: absolute;
  left:0;
  height: 100%;
  width: 100%;
  background:#333842;
  border-left: 2px solid #FAB867;
  animation: 
    typing 7s steps(20) infinite,
    cursor .4s step-end infinite alternate;
}

@keyframes typing {
  40%, 60%{
    left: 100%;
  }
  100%{
    left:0%;
  }
}

@keyframes cursor{
  50%{ border-color: transparent}
}

.terminal{
  background-color: #282C34;
  font-size: 14px;
}
.terminal > p{
  margin-top:.5rem;
  margin-left:1rem;
}

.key{
  margin-left: 1rem;
}