*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: #21252B;
}

.content{
  max-width: 700px;
  margin: auto;
}

section{
  width: 700px;
  background-color: #333842;
  display: flex;
  flex-direction: column;
  margin-top:2rem;
  border-radius: 25px;
  background: #333842;
  padding: 20px;
}

section{
  display: inline-flex;
  color: white;
  font-size: 18px;
  display: flex;
}

section > *{
  margin:1rem;
}

.introduction{
  display:flex;
  flex-direction: row;
}

.dynamic-txt{
  height:21px;
  overflow: hidden;
}

.dynamic-txt li{
  list-style: none;
  margin-left:5px;
  color: #FAB867 !important;
  top: 0;
  animation: slide 28s steps(4) infinite;
  position:relative;
}

@keyframes slide {
  100%{
    top: -88px;
  }
}
.dynamic-txt li span{
  position:relative;
}

.dynamic-txt li span::after{
  content: "";
  position: absolute;
  left:0;
  height: 100%;
  width: 100%;
  background:#333842;
  border-left: 2px solid #FAB867;
  animation: 
    typing 7s steps(20) infinite,
    cursor .4s step-end infinite alternate;
}

@keyframes typing {
  40%, 60%{
    left: 100%;
  }
  100%{
    left:0%;
  }
}

@keyframes cursor{
  50%{ border-color: transparent}
}

.terminal{
  background-color: #282C34;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  margin:1rem;
}
.terminal > p{
  margin: .5rem 1rem;
}

.const{
  color: rgb(250, 109, 109)
}
.name{
  color:#FAB867;
}
.key{
  margin-left: 1rem;
  color: rgb(121, 192, 255)
}
.curly{
  margin-left: 2rem;
}
.subkey{
  margin-left: 3rem;
  color: rgb(162, 211, 243)
}

.pre-btn{
  left: 0;
  transform: rotate(180deg);
  width:1rem;
  background-color:#333842;
  border: 0cm;
}

.pre-btn img{
  height:1rem;
}

.nxt-btn{
  right: 0;
  width:1rem;
  background-color:#333842;
  border: 0cm;
}

.nxt-btn img{
  height:1rem;
}

.card-image{
  position: relative;
  height: 300px;
  width: 528px;
}
.card-image .img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projects{
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.slide-container{
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: auto;
}

.slide-container::-webkit-scrollbar {
  display: none;
}


.card-wrapper{
  margin:1rem;
}


