*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: #21252B;
}

.content{
  max-width: 700px;
  margin: auto;
}

section{
  width: 700px;
  height: inherit;
  background-color: #333842;
  display: flex;
  flex-direction: column;
  margin-top:2rem;
  border-radius: 25px;
  background: #333842;
  padding: 20px;
}

section{
  display: inline-flex;
  color: white;
  font-size: 18px;
  display: flex;
}

section > *{
  margin:.5rem;
}

.about-me-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

.resume-btn{
  background-color: #1dd460;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: .5rem .75rem;
  border-radius: 5px;
  border: 0px;
  text-align: center;
  font-size: 14px;
  max-height:2rem;
}

.resume-btn:hover{
  background-color: #18b150;
  color: white;
}

.dynamic-txt{
  font-weight: 600;
  height:21px;
  overflow: hidden;
}

.dynamic-txt li{
  list-style: none;
  color: #FAB867 !important;
  top: 0;
  animation: slide 28s steps(4) infinite;
  position:relative;
}

@keyframes slide {
  100%{
    top: -96px;
  }
}
.dynamic-txt li span{
  position:relative;
  font-family: 'Courier New', Courier, monospace;
}

.dynamic-txt li span::after{
  content: "";
  position: absolute;
  left:0;
  height: 22px;
  width: 100%;
  background:#333842;
  border-left: 2px solid #FAB867;
  animation: 
    typing 7s steps(20) infinite,
    cursor .4s step-end infinite alternate;
}

@keyframes typing {
  40%, 60%{
    left: 100%;
  }
  100%{
    left:0%;
  }
}

h2{
  color:#FAB867;
  max-width: fit-content;
  border-right: 2px solid #FAB867;
  animation: cursor .4s step-end infinite alternate;
  font-family: 'Courier New', Courier, monospace;
}

a{
  color:inherit;
  text-decoration: inherit;
}
a:hover{
  color:rgb(32, 255, 144)
}

@keyframes cursor{
  50%{ border-color: transparent}
}

.terminal{
  background-color: #282C34;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  margin:1rem;
}
.terminal > p{
  margin: .5rem 1rem;
}

.const{
  color: rgb(250, 109, 109)
}
.name{
  color:#FAB867;
}
.key{
  margin-left: 1rem;
  color: rgb(121, 192, 255)
}
.curly{
  margin-left: 2rem;
}
.subkey{
  margin-left: 3rem;
  color: rgb(162, 211, 243)
}

.job-logo{
  width:4rem;
  height:4rem;
}

.job-container{
  display: flex;
  flex-direction: row;
  border-top:2px solid white;
  margin-right:.5rem;
  padding-top: .5rem;
}

.job-title{
  align-self: center;
  margin-left:.5rem;
  flex-grow: 2;
}

.date{
  align-self: center;
  margin-right: .5rem;
}

.collapse{
  overflow: hidden;
}

.collapse input{
  display: none;
}

.collapse label{
  position:relative;
  display: block;
  background: #282C34;
  cursor: pointer;
  padding: 1rem .5rem;
  border-radius: 4px ;
}

.collapse label:hover{
  color:rgb(32, 255, 144);
}


.collapse label:after{
  content:"";
  position: absolute;
  right:1.5rem;
  top:1.3rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url("images/next.png") 0 0 no-repeat;
  background-size: .6rem;
  transition: all .5s ease;
}

.collapse input:checked + label:after{
  transform: rotate(90deg);
}

.collapse-text{
  max-height: 1px;
  overflow: hidden;
  position: relative;
  top: -100%;
  opacity: 0;
  transition: all .5s ease;
}

.collapse input:checked ~ .collapse-text{
  max-height: 500px;
  overflow: hidden;
  opacity: 1;
  top: 0;
  background: #282C34;
}

.collapse-text > *{
  margin-left: .5rem;
}

.collapse-text ul li{
  margin: .5rem 1rem .5rem 2rem;
  font-size: 14px;
}


.pre-btn{
  left: 0;
  transform: rotate(180deg);
  width:1rem;
  background-color:#333842;
  border: 0cm;
  height: 500px;
  width: 500px;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
  margin-left: 2rem;
}



.pre-btn:hover img,
.nxt-btn:hover img {
  transform: scale(1.3);
  opacity: 1;
}

.pre-btn img, .nxt-btn img{
  transition: all .2s ease-in-out;
  height:1rem;
}

.nxt-btn{
  right: 0;
  background-color:#333842;
  border: 0cm;
  height: 500px;
  width: 500px;
}

.card-image{
  position: relative;
  height: 300px;
  width: 510px;
}
.card-image .img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projects-wrapper{
  margin-top: 0px;
  max-width:650px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.slide-container{
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.slide-container::-webkit-scrollbar {
  display: none;
}

.card-wrapper{
  margin-left:1.5rem;
  margin-right:1.5rem;
}

h3{
  margin-top: 1rem;
  margin-bottom: .5rem;
}

a > img{
  float: right;
  max-width: 25px;
  margin-right: .5rem;
}

p{
  text-align: justify;
}

.projects{
  margin-bottom: 2rem;
}

.empty-bar{
  margin: 1rem;
  max-width: inherit;
  height: 1.5rem;
  background-color: #30333a;
}

.progress-bar{
  width: 0;
  height: 1.5rem;
  background-color: #18b150;
}

.tools{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.tools > span{
  font-size: 15px;
  background-color: #282C34;
  color:#FAB867;
  padding:.5rem;
  margin-right:.5rem;
  border-radius: 15px;
}

h3:hover{
  color:rgb(32, 255, 144)
}
